body{
    background-color: #f4f1ea;
    color: darkgray;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #f7f5f5;
    color: rgb(42, 194, 214);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #afefff;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(138, 138, 138);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}

